#sideBar__container {
  font-weight: normal;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .sideBar__menu, .sideBar__logout {
    width: 100%;
    background-color: #282828;
    border-radius: 10px;
  }

  .sideBar__menu {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;

    .sideBar__link {
      width: 80%;
    }
  }

  .sideBar__logout {
    .sideBar__link {
      color: red;
      margin: 0;
      padding: 3% 12%;
    }
  }
}
