.list__item {
  padding: 0.4% 2%;
  border-radius: 10px;
  margin: 0.6% 0;
  display: flex;
  justify-content: space-between;
  div {
    font-size: 25px;
  }

  &:hover {
    cursor: pointer;
    background-color: #333333;
  }
}

.list__line {
  background-color: #414141;
  width: 98%;
  margin: 0 auto;
  height: 2px;

  &:last-child {
    visibility: hidden;
  }
}