.list__container {
  margin: 2% 3%;
  max-height: 100%;

  .list__title {
    padding-left: 1%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1%;

    &_collapsable {
      cursor: pointer;

      &:after {
        padding-left: 1%;
        content: "\2796"
      }
    }

    &_collapsed:after {
      padding-left: 1%;
      content: '\02795';
    }
  }
}