.list__container {
  margin: 2% 3%;
  max-height: 100%;

  .list__title {
    padding-left: 1%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1%;
  }

  .disciplineDetails__controls {
    padding: 1%;
  }

  .list__children_collapsable{
  }
}