#header {
  background-color: #414141;
  font-weight: bold;
  padding: 0.7% 6% 0.7% 6%;
  display: flex;

  .header__name, .header__title {
    font-size: 25px;
    text-align: center;
  }

  .header__name {
    width: 20%;
    margin-right: 0.6%;
    text-align: left;
  }

  .header__title {
    margin-left: 0.6%;
    width: 100%;
  }
}
