.details__container {
  margin: 2% 0;
  max-height: 100%;

  .details__title {
    padding-left: 1%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1%;
  }

  table {
    padding-left: 2%;
    padding-right: 2%;
    max-width: 100%;

    tr {
      vertical-align: top;
      text-align: left;

      td:first-child {
        padding-right: 30px
      }
    }
  }
}