.profile {
  padding: 4% 10%;
  display: flex;
  flex-direction: column;

  &__user {

    &name, &data {
      font-weight: bold;
    }

    &name {
      font-size: 40px;
    }

    &data {
      margin-top: 1%;

      font-size: 18px;

      .profile__dataParam {
        padding-right: 1%;

        &:last-child {
          padding: 0;
        }
      }
    }
  }

  &__pinned, &__recent {
    margin-top: 2%;
  }

  &__pinned {
  }

  &__recent {
  }

  .profile__listTitle {
    font-size: 27px;
    font-weight: bold;
  }
}